{% extends "base.html" %}
{% block body %}
<nav class="navbar" id="navbar">
    <a href="/" class="brand">Calling All <span>Haters</span></a>
    <a href="/games">Games</a>
    <a href="/leaderboards">Leaderboard</a>
    <a href="/profile">{{ session.get("data", {}).get("name") }} {{ " (guest)" if session.get("data", {}).get("is_guest") else ""}}</a>
    <a href="javascript:void(0);" class="icon" onclick="displayNavbar()"><i class="fa fa-bars"></i></a>
</nav>
<div class="game-status">
</div>
<div class="container">
    <div class="settings">
        <span>Score Limit:</span><input id="settings-score-limit" type="number" min="1" value="1">
        <span>Timer Limit:</span><select id="settings-timer-limit">
            <option value="0.25">(0.25x) 0:15</option>
            <option value="0.5">(0.50x) 0:30</option>
            <option value="1" selected>(1x) 1:00</option>
            <option value="1.50">(1.50x) 1:30</option>
            <option value="2">(2x) 2:00</option>
            <option value="2.5">(2.50x) 2:30</option>
            <option value="3">(3x) 3:00</option>
            <option value="4">(4x) 4:00</option>
            <option value="5">(5x) 5:00</option>
            <option value="10">(10x) 10:00</option>
            <option value="-1">Unlimited</option>
        </select>
        <span>Player Limit:</span><div><input type="checkbox" id="settings-player-limit-enabled"><input type="number" min="2" value="" id="settings-player-limit"></div>
        <span>Password:</span><div><input type="checkbox" id="settings-password-enabled"><input type="password" id="settings-password"><span>Show:</span><input type="checkbox" id="settings-password-show"></div>
        <span>Game Packs:</span><div><input hidden id="settings-game-packs"><input disabled type="text" id="settings-game-packs-preview"><button onclick="return false;">Edit</button></div>
        <span>Custom Packs:</span><input type="text" id="settings-custom-game-packs"><span style="grid-column: 2; text-align: left; font-size: x-small;">Separate custom pack ids with commas (if multiple)</span>
    </div>
    <form>
    <button onclick="app.saveSettings(); return false;" class="button">Apply Changes</button>
    <button onclick="app.startGame(); return false;" class="button">Start Game</button>
    </form>

    <h5>The black card for this round is:</h5>
    <div class="black-card">
        <div class="card-content">
            This is default text on the black card <span>example filled in</span> or maybe <span>____________</span>?
        </div>
        <div class="card-information">
            <span>UK</span>
            <span>Pick <b>2</b> cards</span>
        </div>
    </div>
    <h5>Select from your hand:</h5>
    <div class="card-selection">
        <button class="white-card">
            <span class="card-content">This is text you submitted</span>
            <img class="check selected" src="/static/check.svg">
        </button>
        <button class="white-card">
            <span class="card-content">This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted </span>
            <img class="check selected" src="/static/check.svg">
        </button>
        <button class="card-stack">
            <div>
                <div class="white-card-stack">
                    <span class="card-content">aThis is text you submitted</span>
                </div>
                <div class="white-card-stack">
                    <span class="card-content">aThis is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted </span>
                </div>
            </div>
            <img class="check selected" src="/static/check-alt.svg">
        </button>
        <button class="card-stack">
            <div>
                <div class="white-card-stack">
                    <span class="card-content">aThis is text you submitted</span>
                </div>
                <div class="white-card-stack">
                    <span class="card-content">aThis is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted This is text you submitted </span>
                </div>
            </div>
            <img class="check" src="/static/check-alt.svg">
        </button>
    </div>
    <button onclick="return false;"class="button">Confirm Selection</button>
    <h5>Select <b>2</b> cards then confirm your selection.</h5>
    <h5>You are the card czar. Select the card or cards that best fit the black card then click Confirm Selection.</h5>
    <h5><b>ImRock</b> scored a point!</h5>
    <h5>Scoreboard:</h5>
    <div class="scoreboard">
        <div>
            <span class="scoreboard-score">1</span> <span>ImRock</span> <img src="/static/timer.svg">
        </div>
        <div>
            <span class="scoreboard-score">1</span> <span>Czar boye</span> <img src="/static/star-circle.svg"><img src="/static/star-circle.svg"><img src="/static/star-circle.svg">
        </div>
        <div>
            <span class="scoreboard-score">1</span> <span>Czar boye</span>
        </div>
    </div>

    <h1>Password: <b>password123</b></h1>
    <h5>Players (6):</h5>
    <div class="scoreboard">
        <div>
            <span class="scoreboard-score">1</span> <span>ImRock</span> <img src="/static/timer.svg">
        </div>
        <div>
            <span class="scoreboard-score">1</span> <span>Czar boye</span> <img src="/static/star-circle.svg"><img src="/static/star-circle.svg"><img src="/static/star-circle.svg">
        </div>
        <div>
            <span class="scoreboard-score">1</span> <span>Czar boye</span>
        </div>
    </div>

</div>
<div id="error-popup" class="popup-dim popup-hide">
    <div class="popup-container">
        <div><span id="error-popup-title"></span><a onclick="togglePopup('error-popup');"><img class="lock" src="/static/close.svg"></a></div>
        <div>
            <span id="error-popup-desc"></span>
        </div>
    </div>
</div>
<div id="game-password" class="popup-dim popup-hide">
    <div class="popup-container">
        <div><span id="error-popup-title"></span><a onclick="togglePopup('game-password');"><img class="lock" src="/static/close.svg"></a></div>
        <div>
            <span id="error-popup-desc">
                <h5>This game is password protected, enter the password to join the game</h5>
                <form>
                <input type="password" id="password-input" placeholder="Enter game password" autocomplete="no"><br>
                <button class="button" onclick="togglePopup('game-password'); connectGame();return false;">Enter Game</button>
                </form>
            </span>
        </div>
    </div>
</div>

<script>
$(_ => {
    connectGame();
})
</script>
{% endblock %}