{% extends "base.html" %}
{% block body %}
<nav class="index-navbar">
    <h1 class="index-icon">Calling All <span>Haters</span></h1>
    <h5>Another horrendous <a href="https://cardsagainsthumanity.com/">cards against humanity</a> clone.</h5>
    <div class="index-items">
        <a href="/games">Games</a>
        <a href="/leaderboards">Leaderboard</a>
        <a href="/profile">Placeholder</a>
    </div>
</nav>
<div class="container">
    <h5>You're not logged in. By logging, in you can access previous games and be on the leaderboards.</h5>
    <a><button class="button">Log In</button></a>
    <h5>or</h5>
    <input type="text"> <button class="button">Play as Guest</button>
</div>
<div class="splitter"></div>
<div class="container">
    <h5>Current Games:</h5>
    <div>
        <div class="game-container">
            <div class="game-description">
                <span class="title">ImRock's Game - 0/0</span>
                <span>Players: <span>ImRock, YaBoi</span></span>
                <span>Point Goal: <span>0</span></span>
                <span>Decks: <span>Custom</span></span>
            </div>
            <div class="game-buttons">
                <a><button>Spectate</button></a>
                <a><button>Join<img class="lock" src="/static/lock-alert.svg"></button></a>
            </div>    
        </div>
    
    </div>
</div>
{% endblock %}