* {
    --page-style-a: #000000;
    --page-style-b: #FFFFFF;
    --page-style-c: #E1E1E1;
    --page-style-d: #56CCF2;
    --page-style-e: #969696;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: 400;
    src: url("/static/helvetica_thin.ttf");
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: bold;
    src: url("/static/helvetica_bold.ttf");
}

@font-face {
    font-family: "Helvetica Neue";
    font-weight: 100;
    src: url("/static/helvetica_medium.ttf");
}

a {
    color: inherit;
}

body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: 0;
}

.row {
    display: table;
}

.hidden {
    display: none !important;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 1vw 2vw;
    box-sizing: border-box;
    text-align: center;
}

#current-link {
    color: var(--page-style-d)
}

.container span {
    font-weight: 100;
}

.won {
    background: var(--page-style-a);
}

.splitter {
    border-bottom: var(--page-style-a) 1px solid;
    width: 100%;
    height: 1px;
}

.container h5 {
    margin: .75em auto;
    width: 80%;
    font-weight: 100;
    font-size: small;
}

.gamepacks {
    font-size: x-small;
}

.deck-select span {
    user-select: none;
}

.game-status {
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: solid var(--page-style-a) 1px;
    flex-wrap: wrap;
}

.oneliner div {
    width: auto !important;
}

.game-container {
    display: flex;
    max-width: 400px;
    margin: 5px;
}

.game-discovery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 100;
}

.game-description {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    color: var(--page-style-b);
    background: var(--page-style-a);
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 6px;
    border-radius: 5px 0 0 5px;
}

.game-description span {
    font-weight: 400;
    font-style: italic;
    font-size: small;
}

.game-description span span {
    font-weight: 100;
    font-style: normal;
}

.game-description .title {
    font-weight: 600;
    font-style: normal;
    font-size: larger;
}

.game-buttons {
    min-width: 20%;
    display: flex;
    flex-direction: column;
}

.game-buttons button .lock {
    pointer-events: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25%;
    color: var(--page-style-a);
}


.game-buttons button {
    font-size: 80%;
    background: var(--page-style-b);
    font-weight: 600;
    min-height: 50px;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0;
    position: relative
}

.game-buttons a {
    height: 50%;
}

.game-buttons a:first-child button {
    border: var(--page-style-a) 1px solid;
    border-radius: 0 5px 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.game-buttons a:last-child button {
    border: var(--page-style-a) 1px solid;
    border-top: none;
    border-radius: 0 0 5px 0;
}

.game-status div {
    justify-content: center;
    width: min-content;
    margin: 8px 5px;
    flex-wrap: wrap;
    display: flex;
}

.game-status div span:first-child {
    padding-right: 2px;
    font-size: 1em;
    margin: auto 0;
    font-weight: 100;
    width: max-content;
}

.game-status div span:last-child {
    font-weight: bold;
    font-size: 1.5em;
    margin: auto;
}

.navbar {
    background-color: var(--page-style-a);
    color: var(--page-style-b);
    overflow: hidden;
    display: grid
}

.navbar > a {
    float: left;
    display: block;
    font-size: 17px;
    padding: 5px 10px;
    font-size: smaller;
    text-decoration: none;
    margin: auto 0 auto 0;
}
.navbar > a:first-child {
    font-size: x-large;
}

.navbar > a:hover {
    opacity: 0.9;
}

.brand {
    font-weight: bold;
    font-size: x-large;
}

.brand span {
    color: var(--page-style-d);
}

.navbar > .icon {
    display: none;
}

.index-navbar {
    background: var(--page-style-a);
    padding: 20px;
}

.index-icon {
    color: var(--page-style-b);
    line-height: 80%;
    font-size: 26px;
    margin: 0;
    width: 0;
}

.index-icon span {
    color: var(--page-style-d);
}

.index-navbar h5 {
    color: white;
    font-weight: normal;
    font-size: 16px;
    margin: .75em 0 .75em 0;
}

.index-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.index-items a {
    color: var(--page-style-c);
    font-size: 0.7em;
    text-decoration: none;
    margin: auto 0;
    padding: 0 3%;
    width: fit-content;
}

.index-items a:hover {
    color: var(--page-style-e);
}

.button {
    background: black;
    color: white;
    border: none;
    padding: 10px 70px;
    border-radius: 5px;
    margin: 5px;
    max-width: -webkit-fill-available;
    box-sizing: border-box;
}

.button:hover {
    color: rgba(255,255,255,.9);
}

.popup-show {
    opacity: 1;
}

.popup-hide {
    pointer-events: none;
    opacity: 0;
}

.popup-dim {
    transition: opacity .25s;
    background: rgba(0,0,0,.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.popup-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
    height: fit-content;
    height: -moz-fit-content;
    max-width: 500px;
    max-height: 100vh;
}

.popup-container > div:first-child {
    padding: 10px;
    border-radius: 5px 5px 0 0;
    border: var(--page-style-b) 1px solid;
    background: var(--page-style-a);
    color: var(--page-style-b);
    font-weight: 600;
    height: 25px;
}

.popup-container > div:first-child img {
    position: absolute;
    top: 6px;
    right: 6px;
    color: var(--page-style-b);
}

.popup-container > div:nth-child(2) {
    padding: 10px;
    border-radius: 0 0 5px 5px;
    background: var(--page-style-b);
    color: var(--page-style-a);
    font-weight: 100;
    text-align: center;
    overflow-y: auto;
    max-height: 75vh;
}


input[type="text"], input[type="password"] {
    background: var(--page-style-c);
    border: var(--page-style-e) 1px solid;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}

input[type="text"]:hover, input[type="password"]:hover {
    background: rgba(0,0,0,.2);
}

.leaderboards-self {
    color: var(--page-style-d);
}

.leaderboards-container {
    width: 90%;
    max-width: 500px;
    font-weight: 100;
    background: var(--page-style-a);
    padding: 20px 5px;
    color: var(--page-style-b);
    display: grid;
    flex-direction: column;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: center;
}

.black-card {
    background: var(--page-style-a);
    color: var(--page-style-b);
    padding: 15px;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    font-size: small;
    font-weight: 400;
    line-height: 16px;
}

.black-card .card-content span {
    color: var(--page-style-d);
}

.black-card .card-information {
    text-align: left;
    margin: 10px 0;
    font-size: smaller;
    vertical-align: middle;
}

.black-card .card-information span:first-child {
    background: var(--page-style-b);
    color: var(--page-style-a);
    vertical-align: middle;
    padding: 4px;
    margin-right: 4px;
    
}

.white-card {
    background: var(--page-style-a);
    color: var(--page-style-b);
    padding: 10px;
    border-radius: 5px;
    margin: 4px auto;
    display: flex;
    font-size: small;
    font-weight: 400;
    line-height: 16px;
    width: 600px;
    max-width: 100%;
    box-sizing: border-box;
    border: 0;
}

.white-card-stack {
    background: var(--page-style-a);
    color: var(--page-style-b);
    padding: 10px;
    border-radius: 5px;
    margin: 4px auto;
    display: flex;
    font-size: small;
    font-weight: 400;
    line-height: 16px;
    box-sizing: border-box;
    border: 0;
}

.card-stack > div {
    width: 100%;
}

.white-card span {
    margin: auto;
}

.white-card img {
    margin: auto 4px;
    visibility: hidden;
}

.white-card .selected {
    visibility: visible;
}

.white-card-stack .selected {
    visibility: visible;
}

.scoreboard {
    background: var(--page-style-a);
    color: var(--page-style-b);
    width: 500px;
    max-width: 100%;
    margin: 4px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    box-sizing: border-box;
}

.scoreboard div {
    display: flex;
    margin: 3px 0;
}

.scoreboard span {
    margin: auto 4px;
}

.scoreboard .scoreboard-score {
    background: var(--page-style-b);
    color: var(--page-style-a);
    vertical-align: middle;
    padding: 4px 8px;
    margin-right: 4px;
}

.card-stack {
    width: 600px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 4px auto;
    padding: 5px;
    border: 1px var(--page-style-a) solid;
    border-radius: 5px;
    display: flex;
}

.card-stack .selected {
    visibility: visible;
}

.card-stack img {
    margin: auto 4px;
    visibility: hidden;
}

.settings-container {
    text-align: center;
    padding: 2vw;
    border-bottom: solid var(--page-style-a) 1px;
}

.settings {
    display: grid;
    grid-column-gap: 10px;
    row-gap: 2px;
    width: 400px;
    max-width: 100%;
    margin: auto;
    grid-template-columns: max-content auto;
    overflow-x: auto;
}

.settings span {
    grid-column: 1;
    text-align: right;
    vertical-align: middle;
    margin: auto 0;
}

.settings div {
    grid-column: 2;
    display: flex;
}

.settings div input {
    width: -webkit-fill-available;
}

.settings input, .settings select, .settings button {
    grid-column: 2;
    background: var(--page-style-c);
    border: var(--page-style-e) 1px solid;
    padding: 5px;
    border-radius: 5px;
    margin: auto 2px;

}

.deck-select {
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 600px) {
    .navbar {
        display: flex;
    }
    .navbar a {
        padding: 14px 10px;  
    }
}

@media only screen and (max-width: 600px) {
    .settings span {
        font-size: x-small;
    }
    .navbar > a:first-child {
        font-size: large;
    }
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar.responsive {
        position: relative;
    }
    .navbar a.icon {
        float: right;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 768px) {
/* For tablets: */
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}


[data-tooltip] {
    position: relative;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 105%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: var(--page-style-b);
    color: var(--page-style-a);
    border: var(--page-style-a) 1px solid;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 105%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid var(--page-style-a);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}